<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <a class="navbar-brand" (click)="goToHome()">🏎️ Garázs</a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="goToAddDriver()">Új pilóta</a>
        </li>
      </ul>
    </div>

  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a class="nav-link me-3" (click)="goToHome()">🏎️ Garázs</a>
      <a class="nav-link" (click)="goToAddDriver()">Új pilóta</a>
    </div>
  </div>
</nav>